<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
    <Listener
            className="com.angkorteam.home.BootstrapProgram"
            astronomyApiKey=""
            astronomyLocation="Phnom Penh"
            hueHubUsername=""
            hueHubIp=""
            jdbcUrl=""
            jdbcUsername=""
            jdbcPassword=""
            jdbcDriverClassName=""
    />
</Server>
